.outerContainer {
	display: flex;
	width: 80%;
	flex-direction: row;
	margin: 10px 0px;
	box-shadow: var(--boxShadow2);
	box-sizing: border-box;
	height: 40px;
	display: flex;
	color: inherit;
	padding: 3px 3px;
	align-items: center;

	justify-content: space-between;
}
.container {
	width: 100%;
	cursor: pointer;
}
.task {
	letter-spacing: 1.2;
}
.done {
	text-decoration: line-through;
}
.delete {
	margin-right: 10px;
	padding-left: 10px;
	border-left: 2px solid white;
}
.delete:hover {
	cursor: pointer;
	color: red;
}
